{% extends 'base.html.twig' %}

{% block title %}New Teammate{% endblock %}

{% block body %}
    <main class='flex'>
        <div class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </div>

        <div class="longSide">
            {{ form_errors(accessory) }}

            {{ form_start(accessory) }}
            {{ form_end(accessory) }}
            {# ajouter les suffix sur certain partie du form quand plus personaliser #}
            {# + 300 gold reduc wait turn / + 50 gold par energy action supplementaire #}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/creation.js') }}"></script>
{% endblock %}