{% extends 'base.html.twig' %}

{% block title %}New Teammate{% endblock %}

{% block body %}
    <main>
        <div class="leftSide">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </div>

        <div class="rightSide">
            {{ form_errors(accessory) }}

            {{ form_start(accessory) }}
            {{ form_end(accessory) }}
            {# ajouter les suffix sur certain partie du form quand plus personaliser #}
            {# + 300 gold reduc wait turn / + 50 gold par energy action supplementaire #}
        </div>
    </main>
{% endblock %}
