{% extends 'base.html.twig' %}

{% block title %}New Teammate{% endblock %}

{% block body %}
    <main class='flex'>
        {% include "/nav/navMenuMobile.html.twig" %}
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
        </section>

        <section class="longSide">
            {{ form_errors(equipe) }}

            {{ form_start(equipe) }}
            {{ form_end(equipe) }}
            {% include "/footer.html.twig" %}
        </section>
    </main>
{% endblock %}
