{% extends 'base.html.twig' %}

{% block title %}New Teammate{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </section>

        <section class="longSide">
            {{ form_errors(equipe) }}

            {{ form_start(equipe) }}
            {{ form_end(equipe) }}
        </section>
    </main>
{% endblock %}
