{% extends 'base.html.twig' %}

{% block title %}New Teammate{% endblock %}

{% block body %}
    <main>
        <div class="shortSide">
            {% include "/nav/navMenuDesktop.html.twig" %}
            {% include "/nav/navMenuMobile.html.twig" %}
        </div>

        <div class="longSide">
            {{ form_errors(weapon) }}

            {{ form_start(weapon) }}
            {{ form_end(weapon) }}
            {# ajouter les suffix sur certain partie du form quand plus personaliser #}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/creation.js') }}"></script>
{% endblock %}