{% extends 'base.html.twig' %}

{% block title %}Inventaire équipement{% endblock %}

{% block body %}
    <main>
        <div class="leftSide">
            {% include "/nav/navMenuOtherDesktop.html.twig" %}
            {% include "/nav/navMenuOtherMobile.html.twig" %}
        </div>
    </main>
{% endblock %}