{% extends 'base.html.twig' %}

{% block title %}Hello FightController!{% endblock %}

{% block body %}
    <main>
        <div class="longSide">
            <div id="scene">
                
            </div>
            <div id="actionBar">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
        </div>
        <div class="shortSide">

        </div>
    </main>
{% endblock %}
