@import "root.css";

.longSide
{
    overflow-y: scroll;
}

.longSide > div, .longSide > header
{
    padding: 12px;
}

h1
{
    font-size: 2.4em;
}

span
{
    font-weight: 700;
}

.classPerso
{
    flex-direction: column;
    gap: 40px;
    margin-bottom: 1em;
}

.classes
{
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.class
{
    width: 30%;
}

.class img
{
    width: 240px;
    height: 240px;
}

.arma
{
    text-align: center;
}



.randomPerso h2
{
    margin-bottom: 40px;
}

.infoRandom
{
    justify-content: space-around;
}

.infoRandom figure
{
    flex-direction: column;
    justify-content: center;
}

.infoRandom img
{
    width: 240px;
    height: 240px;
}

.infoRandom figcaption
{
    text-align: center;
}

.random
{
    width: 28%;
}

.random p:not(:last-child)
{
    margin-bottom: 12px;
}

@media(orientation: landscape)
{
    .headMain
    {
        margin-bottom: 3em;
    }
}