@import "root.css";

#rankingTable
{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

.topBar
{
    padding: 20px 20px 0 20px;
    justify-content: space-between;
    align-items: center;
}

.pagination span
{
    background-color: var(--tertiary);
    border-radius: 80px;
    color: var(--textReverse);
    padding: 8px 16px;
}

.pagination a
{
    color: var(--textReverse);
    text-decoration: none;
}

.pagination
{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

table, td, th {
    border: 2px solid var(--text);
}

table
{
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}

td:first-child
{
    padding: 12px;
    font-weight: 800;
}

table:first-child th
{
    padding: 8px 16px;
    background-color: var(--tertiary);
    color: var(--textReverse);
}

table:first-child th:first-child
{
    background-color: black;
}

tr:nth-child(2) 
{
    background-color: var(--first);
}

tr:nth-child(3) 
{
    background-color: var(--second);
}

tr:nth-child(4) 
{
    background-color: var(--third);
}

@media(orientation: portrait)
{
    .pagination span
    {
        margin-bottom: 36px;
    }
}