:root
{
    --primary: #ffffff;
    --secondary: #D9D9D9;
    --tertiary: #3A3A3A;
    --button: #4E4E4E;
    --underhealthBar: #F00000;
    --healthBar: #00D415;
    --underEnergyBar: #3A3A3A;
    --energyBar: #0066FF;
    --money: #FFB800;
    --positive: #0075FF;
    --negative: #FF0000;
    --first: #FFB800;
    --second: #C0C0C0;
    --third: #CD7F32;
    --unselected: #ff000066;
    --selected: #001AFF99;
    --text: #000000;
    --textReverse: #FFFFFF;
    --healthAllyInfo: 100%;
    --healthEnnemieInfo: 100%;
    --energyAllyInfo: 100%;
    --energyEnnemieInfo: 100%;
}

*
{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Cousine', monospace;
}

.hidden
{
    visibility: hidden;
}

.flex
{
    display: flex;
}

body
{
    width: 100%;
}

nav
{
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
    font-size: 2em;
}

.menuButton
{
    background-color: var(--primary);
    border-radius: 8px;
    border:solid 1px var(--text);
    text-align: center;
}

.menuButton a
{
    color: var(--text);
    text-decoration: none;
}

img
{
object-fit: contain;
}

main
{
    width: 100%;
    height: 100%;
    font-size: 2em;
}

a
{
    color: var(--text);
}

li
{
    list-style: none;
}

.scrollable
{
    overflow-y: scroll;
}

.pad16
{
    padding: 16px;
}

/* menu burger */

.nav
{
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid var(--text);
}

.nav-header
{
    width: calc(100% - 60px);
    justify-content: space-between;
}

.nav > .nav-list
{
    display: flex;
    gap: 2rem;
}

.nav > .nav-list > li
{
    list-style-type: none;
}

.nav-list > li a
{
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

#nav-check
{
    display: none;
}

.parameter
{
    background-color: inherit;
    border: none;
    font-size: 1em;
}

.topBar a, .btnUser
{
    color: var(--text);
    cursor: pointer;
}

@media(orientation: landscape)
{
    html, body {margin: 0; height: 100%; overflow: hidden}

    .desktop
    {
        display: block;
    }

    .desktopFlex
    {
        display: flex;
    }

    .mobile
    {
        display: none;
    }

    .mobileFlex
    {
        display: none;
    }

    .sidebar {
        height: 100%;
        max-width: 100%;
        position: fixed;
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0;
        height: 100%;
        justify-content: space-evenly;
        flex-direction: column;
        max-width: 100%;
    }
    
    .menuButton {
        padding: 15px;
        text-align: center;
        max-width: 100%;
    }
    
    a {
        text-decoration: none;
        color: white;
        display: block;
    }
    
    .dropdown {
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        bottom: -144px;
        left: 100%;
        min-width: 150px;
        background-color: var(--secondary);
        border-radius: 8px;
        border: 1px solid var(--text);
        padding: 0 20px;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        padding: 12px;
        margin: 24px 0;
        transition: background-color 0.3s;
        background-color: var(--primary);
        border: 1px solid var(--text);
        border-radius: 8px;
    }
}

@media(max-width: 1480px) and (orientation: landscape)
{
    .menuButton
    {
        padding: 6px;
    }

    .menuButton a
    {
        font-size: 0.7em;
    }

    .dropdown-content
    {
        bottom: -126px;
    }
}

@media(orientation: portrait)
{
    .desktop
    {
        display: none;
    }

    .desktopFlex
    {
        display: none;
    }

    .mobile
    {
        display: block;
    }

    .mobileFlex
    {
        display: flex;
        min-width: 100%;
    }

    .nav-header > a , .parameter
    {
        font-size: 0.6em;
    }

    .menuButton
    {
        padding: 4px 12px 0 12px;
    }

    /* menu burger */

    .nav
    {
        padding: 1rem;
    }

    .nav > .nav-btn
    {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0.2rem;
        padding-top: 0.2rem;
    }

    .nav > .nav-btn > label
    {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label > span
    {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid var(--button);
    }

    .nav > .nav-list
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        background-color: var(--secondary);
        height: 0;
        transition: all 0.3s ease-in;
        top: 77px;
        left: 0;
        overflow: hidden;
        z-index: 2;
    }

    .nav > .nav-list > li {
        width: 90%;
        margin-top: 1rem;
    }

    .nav > #nav-check:checked ~ .nav-list {
        height: calc(100vh - 50px);
    }
}

@media(orientation: portrait) and (max-width: 500px)
{
    .menuButton
    {
        padding: 0 12px 8px 12px;
    }

    .menuButton a
    {
        font-size: 0.6em;
    }
}

/* https://codepen.io/chriiss/pen/qBJjLEx?editors=1100 */