:root
{
    --primary: #ffffff;
    --secondary: #D9D9D9;
    --tertiary: #3A3A3A;
    --button: #4E4E4E;
    --underhealthBar: #F00000;
    --healthBar: #00D415;
    --underEnergyBar: #3A3A3A;
    --energyBar: #0066FF;
    --money: #FFB800;
    --positive: #0075FF;
    --negative: #FF0000;
    --first: #FFB800;
    --second: #C0C0C0;
    --third: #CD7F32;
    --unselected: #ff000066;
    --selected: #001AFF99;
    --text: #000000;
    --textReverse: #FFFFFF;
    --healthAllyInfo: 100%;
    --healthEnnemieInfo: 100%;
    --energyAllyInfo: 100%;
    --energyEnnemieInfo: 100%;
    --bgImage: url("../../img/bg/hill.webp");
}

*
{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Cousine', monospace;
}

.hidden
{
    visibility: hidden;
}

body
{
    width: 100%;
}

nav
{
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
    font-size: 2em;
}

footer
{
    background-color: var(--tertiary);
    justify-content: space-between;
    padding: 12px 8px;
    color: var(--textReverse);
    align-items: center;
    width: 100%;
}

.links
{
    gap: 20px;
}

.links a
{
    color: var(--textReverse);
}

.longSide
{
    flex-direction: column;
    justify-content: space-between;
}

.menuButton
{
    background-color: var(--primary);
    border-radius: 8px;
    border:solid 1px var(--text);
    text-align: center;
}

.menuButton a
{
    color: var(--text);
    text-decoration: none;
}

img
{
object-fit: contain;
}

main
{
    width: 100%;
    height: 100%;
    font-size: 2em;
}

a
{
    color: var(--text);
}

li
{
    list-style: none;
}

.scrollable
{
    overflow-y: scroll;
}

.pad16
{
    padding: 16px;
}

/* menu burger */

.nav
{
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid var(--text);
}

.nav-header
{
    width: calc(100% - 60px);
    justify-content: space-between;
}

.nav > .nav-list
{
    display: flex;
    gap: 2rem;
}

.nav > .nav-list > li
{
    list-style-type: none;
}

.nav-list > li a
{
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}

#nav-check
{
    display: none;
}

.parameter
{
    background-color: inherit;
    border: none;
    font-size: 1em;
}

.topBar a, .btnUser
{
    color: var(--text);
    cursor: pointer;
}

.nonCo
{
    font-weight: normal;
    font-size: 0.5em;
}

.topBar
{
    justify-content: flex-end;
}

.rule
{
    flex-direction: column;
    gap: 28px;
}

.rule article
{
    margin-bottom: 48px;
}

.rule article h2
{
    margin-top: 32px;
    font-size: 1.6em;
}

.rule article h3
{
    margin-top: 24px;
    font-size: 1.2em;
}

.rule article  p
{
    margin-top: 12px;
}

.ligneJust
{
    text-align: justify;
}

.ligneGauche
{
    text-align: left;
}

.littleInfo
{
    font-size: 0.8em;
}

article ul
{
    height: auto;
}

.type1
{
    text-shadow: green 0 0 3px;
    font-weight: normal;
}

.type2
{
    text-shadow: red 0 0 3px;
    font-weight: normal;
}

.type3
{
    text-shadow: blue 0 0 3px;
    font-weight: normal;
}

.classique
{
    text-shadow: yellow 0 0 3px;
    font-weight: normal;
}

.magie
{
    text-shadow: purple 0 0 3px;
    font-weight: normal;
}

.alternatif
{
    text-shadow: chocolate 0 0 3px;
    font-weight: normal;
}

.feu
{
    color: red;
    font-weight: normal;
}

.eau
{
    color: blue;
    font-weight: normal;
}

.metal
{
    color: lightslategray;
    font-weight: normal;
}

.bois
{
    color: green;
    font-weight: normal;
}

.terre
{
    color: burlywood;
    font-weight: normal;
}

.rank
{
    justify-content: space-between;
}

.gold
{
    color: var(--money);
}

.footerStock
{
    position: absolute;
    bottom: 0;
    z-index: 5;
    border-top: 2px solid var(--textReverse);
    width: 67%;
}

@media(orientation: landscape)
{
    html, body
    {
        margin: 0;
        height: 100%;
        overflow: hidden
    }

    .desktop
    {
        display: block;
    }

    .desktopFlex
    {
        display: flex;
    }

    .mobile
    {
        display: none;
    }

    .mobileFlex
    {
        display: none;
    }

    .sidebar {
        height: 100%;
        max-width: 100%;
        position: fixed;
    }

    ul
    {
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
    }

    main .shortSide
    {
        z-index: 99;
    }
    
    .sidebar ul {
        list-style-type: none;
        padding: 0;
        max-width: 100%;
    }
    
    .menuButton {
        padding: 15px;
        text-align: center;
        max-width: 100%;
    }
    
    a {
        text-decoration: none;
        color: white;
        display: block;
    }
    
    .dropdown {
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        bottom: -144px;
        left: 100%;
        min-width: 150px;
        background-color: var(--secondary);
        border-radius: 8px;
        border: 1px solid var(--text);
        padding: 0 20px;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        padding: 12px;
        margin: 24px 0;
        transition: background-color 0.3s;
        background-color: var(--primary);
        border: 1px solid var(--text);
        border-radius: 8px;
    }
}

@media(max-width: 1480px) and (orientation: landscape)
{
    .menuButton
    {
        padding: 6px;
    }

    .menuButton a
    {
        font-size: 0.7em;
    }

    .dropdown-content
    {
        bottom: -126px;
    }
}

@media(max-width: 1120px) and (orientation: landscape)
{
    .topBar
    {
        flex-wrap: wrap;
    }

    footer
    {
        flex-direction: column;
        gap: 40px;
    }
}

@media(orientation: portrait)
{
    .desktop
    {
        display: none;
    }

    .desktopFlex
    {
        display: none;
    }

    .mobile
    {
        display: block;
    }

    .mobileFlex
    {
        display: flex;
        min-width: 100%;
        position: fixed;
        z-index: 5;
    }
    .gold
    {
        font-size: 0.6em;
    }

    footer
    {
        flex-direction: column;
    }

    footer a
    {
        text-decoration: none;
    }

    .longSide
    {
        margin-top: 77px;
        min-height: calc(100vh - 77px);
    }

    .nav-header > a , .parameter
    {
        font-size: 0.6em;
    }

    .menuButton
    {
        padding: 4px 12px 0 12px;
    }

    /* menu burger */

    .nav-header
    {
        padding: 1rem;
    }

    .nav > .nav-btn
    {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0.2rem;
        padding-top: 0.2rem;
    }

    .nav > .nav-btn > label
    {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label > span
    {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid var(--button);
    }

    .nav > .nav-list
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        background-color: var(--secondary);
        height: 0;
        transition: all 0.3s ease-in;
        top: 77px;
        left: 0;
        overflow: hidden;
        z-index: 3;
    }

    .nav > .nav-list > li
    {
        width: 90%;
        margin-top: 1rem;
    }

    .nav > #nav-check:checked ~ .nav-list
    {
        height: calc(100vh - 50px);
        position: fixed;
    }

    .nav > #nav-check:checked ~ .nav-header
    {
        position: sticky;
        top: 0;
    }
}

@media(orientation: portrait) and (max-width: 500px)
{
    .menuButton
    {
        padding: 0 12px 8px 12px;
    }

    .menuButton a
    {
        font-size: 0.6em;
    }
}


.flash {
    padding: 0.75rem 0;
    border-radius: 2.5px;
    justify-content: center;
    width: 80%;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: 7px 10px 2px -2px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10%;
    left: 10%;
}

.flash-success {
    background-color: #a4c7b0;
    color: #2b4032;
}

.flash-warning {
    background-color: #d7cfb5;
    color: #725f28;
}

.flash-error {
    background-color: #d3878a;
    color: #721c24;
}


.flex
{
    display: flex;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    /*  box-shadow is from materialize css's website */
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.container img {
    width: 100%;
    z-index: -2;
}

.buttonCar {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#right-btn {
    margin: auto 0 auto -2em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}

.infoBulle
{
    display: none;
}

/* https://codepen.io/chriiss/pen/qBJjLEx?editors=1100 */