@import "root.css";



nav
{
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
    font-size: 2em;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 90%;
}

@media(orientation: landscape) and (max-width: 1440px)
{
    nav
    {
        font-size: 1em;
    }
}

.menuButton
{
    background-color: var(--primary);
    border-radius: 8px;
    border:solid 1px var(--text);
    text-align: center;
    padding-top: 8px;
}

.menuButton a
{
    color: var(--text);
    text-decoration: none;
}

.imgFigure
{
    height: 128px;
}



/* color */



.shortSide
{
    background-color: var(--secondary);
    justify-content: center;
}

.teamSelector > *
{
    font-size: 1em;
    padding: 4px;
}


/* inventory */

#teammates
{
    display: flex;
    flex-direction: column;
    align-items : center;
    height: 100%;
}

#inventory
{
    gap: 20px;
}

.invIco
{
    display: block;
    height: 40px;
    width: 40px;

}

.invIco > a
{
    display: block;
    width: 100%;
    height: 100%;
    color: var(--text);
}

.invIco > a > img
{
    height: 100%;
    width: 100%;
}

.selectedInventory
{
    filter: drop-shadow(0 0 16px blue);
}

.unselectedInventory
{
    filter: drop-shadow(0 0 16px red);
}

.cards
{
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
}

.cardInventory
{
    background-color: var(--tertiary);
    width: 30%;
    color: var(--primary);
    border-radius: 12px;
    padding: 12px;
    flex-direction: column;
    justify-content: space-between;
}

.topCard
{
    flex-direction: row-reverse;
    justify-content: space-between;
}

.mainCard
{
    justify-content: space-between;
}

.leftCard
{
    flex-direction: column;
    justify-content: space-evenly;
}

.leftCard span
{
    font-size: 0.7em;
}

.rightCard
{
    height: 100%;
}


@media(orientation: landscape)
{
    /* choose on what to show */

    main
    {
        flex-direction: row;
        min-height: 100vh;
    }

    /* witdh of my 2 principal element */

    .shortSide
    {
        width: 33%;
    }

    .longSide
    {
        width: 67%;
    }

    .longSide .shortSide
    {
        width: 50%;
    }

    .topBar
    {
        padding: 20px 20px 0 20px;
        justify-content: space-between;
        align-items: center;
    }
}

@media(orientation: portrait)
{
    /* choose on what to show */

    main
    {
        flex-direction: column;
    }

    .teamSelector
    {
        flex-direction: column;
    }

    #teammates
    {
        padding-top: 20px;
    }

    #inventory
    {
        width: 100%;
        justify-content: center;
    }
}

@media(max-width: 1480px)
{
    .mainCard
    {
        flex-direction: column-reverse;
    }
}