@import "root.css";



nav
{
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
    font-size: 2em;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 90%;
}

@media(orientation: landscape) and (max-width: 1440px)
{
    nav
    {
        font-size: 1em;
    }
}

.menuButton
{
    background-color: var(--primary);
    border-radius: 8px;
    border:solid 1px var(--text);
    text-align: center;
    padding-top: 8px;
}

.menuButton a
{
    color: var(--text);
    text-decoration: none;
}



/* color */



.shortSide
{
    background-color: var(--secondary);
    justify-content: center;
}

.teamSelector > *
{
    font-size: 1em;
    padding: 4px;
}


@media(orientation: landscape)
{
    /* choose on what to show */

    main
    {
        flex-direction: row;
        min-height: 100vh;
    }

    /* witdh of my 2 principal element */

    .shortSide
    {
        width: 33%;
    }

    .longSide
    {
        width: 67%;
    }

    .longSide .shortSide
    {
        width: 50%;
    }

    .topBar
    {
        padding: 20px 20px 0 20px;
        justify-content: space-between;
        align-items: center;
    }
}

@media(orientation: portrait)
{
    /* choose on what to show */

    main
    {
        flex-direction: column;
    }

    .teamSelector
    {
        flex-direction: column;
    }
}