{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex">
            {% include "/nav/navNotConnected.html.twig" %}
        </section>
        <section class="longSide">
            <div class="parameter"></div>
        </section>
    </main>
{% endblock %}