{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <main>
        <div class="shortSide">
            {% include "/nav/navNotConnected.html.twig" %}
        </div>
        <div class="longSide">
            <div class="parameter"></div>
        </div>
    </main>
{% endblock %}