{% extends 'base.html.twig' %}

{% block meta %}
    <meta name="description" content="menu pour un utilisateur non connecter">
{% endblock %}

{% block title %}Menu{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide flex notCoPage">
            {% include "/nav/navNotConnected.html.twig" %}
        </section>
        <section class="longSide">
            <div class="parameter"></div>
        </section>
    </main>
{% endblock %}