{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <main>
        {% include "/nav/navNotConnected.html.twig" %}
        <div class="topBar">
            <div class="parameter"></div>
        </div>
    </main>
{% endblock %}