{% extends 'base.html.twig' %}

{% block title %}Classemant{% endblock %}

{% block body %}
    <main class='flex'>
        <section class="shortSide">
            {% if app.user %}
                {% include "/nav/navMenuDesktop.html.twig" %}
                {% include "/nav/navMenuMobile.html.twig" %}
            {% else %}
                {% include "/nav/navNotConnected.html.twig" %}
            {% endif %}
        </section>
        <section class="longSide">
            <header class="topBar flex">
                <div class="buttonNav mobile">
                    <span></span><span></span><span></span>
                </div>
                {% if app.user %}
                    <div class="pseudo desktop">{{ app.user.userIdentifier }}</div>
                {% endif %}
                <div class="parameter"></div>
            </header>
            <div id="rankingTable">
                <table>
                    <tr>
                        <th><div class="black"></div></th>
                        <th>Pseudo</th>
                        <th>Nombre de victoire</th>
                    </tr>
                    {% set i = 1 %}
                    {% for user in users %}
                        <tr>
                            <td>{{ i }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.winCount }}</td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                </table>
            </div>
        </section>
    </main>
{% endblock %}