{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <main>
        {% include "navMenuDesktop.html.twig" %}
        {% include "navMenuStartMobile.html.twig" %}
        <div class="topBar">
            <div class="buttonNav mobile">
                <span></span><span></span><span></span>
            </div>
            <div class="menuButton mobile"><a href="">{{ 'start'|upper }}</a></div>
            <div class="teamSelector"></div>
            <div class="pseudo desktop">{{ app.user.userIdentifier }}</div>
            <div class="parameter"></div>
        </div>
        <div id="selectedCharacter">
            <div>
                <div>
                    <figure></figure>
                    <figure></figure>
                </div>
                <figure>

                </figure>
            </div>
            <div>
                <span></span>
                <span>|</span>
                <span></span>
            </div>
        </div>
    </main>
{% endblock %}