{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <main>
        {% include "navMenuDesktop.html.twig" %}
        {% include "navMenuStartMobile.html.twig" %}
    </main>
{% endblock %}