{% extends 'base.html.twig' %}

<nav class="desktop">
    {# <div class="menuButton"><a href="">{{ 'partie rapide'|upper }}</a></div> #}
    <div class="menuButton"><a href="">{{ 'inscription'|upper }}</a></div>
    <div class="menuButton"><a href="">{{ 'connexion'|upper }}</a></div>
    <div class="menuButton"><a href="">{{ 'classement'|upper }}</a></div>
</nav>